
.A_Intro {
    background-color: black;
    color: white;
}

.container-intro {
    height: 110vh;
    position: relative;
}

.container-intro h2 {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 60px;
    font-family: 'Spectral SC', serif;
}

.intro-text {
    opacity: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    max-width: 40%;
    padding: 0 0 100px 100px;
  }

