
.A_Intro {
    flex-direction: column;
    background-color: black;
    color: white;
}

.container-intro {
    height: 80vh;
    position:relative;
}

.container-intro span {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 60px;
    font-family: 'Spectral SC', serif;
}
