
.A_Intro {
    background-color: black;
    color: white;
}

.container-intro {
    height: 110vh;
    position: relative;
}

.container-intro h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 60px;
    font-family: 'Spectral SC', serif;
    padding-bottom: 150px;
}
