.X_Intro {
    background-color: lightsalmon;
    height: 160vh;
}

.top-head {
    height: 90vh;
}

.trigger {
    text-align: center;
    position: relative;
    top: 6px;
}

.bcg {
    background-color: lightseagreen;
    height: 80px;
}