body {
  background-color: black;
  right: 0;
  left: 0;
  margin: auto;
  width: "100vw";
}


.App {
  text-align: center;
  margin: auto;
  width: "100vw";
}


.container {
  display: inline-block;
  position: relative;
  color: white;
  margin: auto 0;
  width: 100%;
}
